// Override this file to add your own SCSS styling.


.projects-list-wrap {
  display: flex;

}


.project-detail-content {

}


.prj1-inventory-text {
  color: rgba(34, 110, 147, 1);
  font-family: Lora, serif;
  font-size: 19pt;
  font-weight: 400
}


.project-detail-page-wrap {
  .article-container {
    max-width: 1240px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

.award-time {
  color: rgba(0, 0, 0, 0.54);
}
