
{{- define "main" -}}

  <style>

    .prj-list-page section {
        padding-bottom: 50px;
    }
    .prj-list-page h3 {
      color: #000000;
      font-size: 1.2rem;
    }
    .r-title {
      color: #000000;
      font-size: 1.2rem;
    }
  </style>




    <div class="container prj-list-page" style="padding-top: 30px;">

      <div class="row" style="display: block; padding-bottom: 30px;">
        <h3>{{ page.Params.title }}</h3>
      </div>


      {{  .Content }}


    </div>


{{- end -}}
